"*":
  core:
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "atom-light-syntax"
    ]
  "exception-reporting":
    userId: "1d8d9edb-9e7c-4cca-a49d-cea9854e263e"
  welcome:
    showOnStartup: false
